# Data Handling & Math
numpy>=1.26.4
pandas>=2.2.3
scipy>=1.13.1

# BERT & Deep Learning
torch
transformers>=4.40.0
tensorflow>=2.16.0

# Survival Analysis & Signatures
iisignature>=0.24
lifelines>=0.30.0
scikit-learn>=1.4.0

# Utilities
tqdm>=4.66.0
matplotlib>=3.8.0
seaborn>=0.13.0